.smaller
    font-size .85em
.smallest
    font-size 0.55em

iframe
    border 1px solid #aaa

#cover
    &:after
        opacity 0
    h2
        margin:-20px 0 0;
        color:#FFF;
        text-align:left;
        font-size:3em;
        display:inline-block;
        max-width: 100%;
    p
        margin:80px 0 0;
        text-align:left;
        color:#FFF;
        font-size: 24px
        opacity 0.75
        line-height: 1.4
        a
            color:#FFF;

.cover
    & > img:first-of-type
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    h2
        color: #FFF;

.img-full
    text-align center
    img
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left -25%


.end-link
    bottom: 10%
    position: absolute
    width: 100%
    padding: 0 35px
    font-size: 24px
    line-height: 1.8
    color: #aaa
    a
        color: #fff
.bigger
    font-size: 53px

.logo
    width 150px
    background-color: #fff
    margin-top: 50px
    & + &
        margin-left 50px
    &.css-m-js
        padding: 22.15px 10px
        background-color: #2B2727

.compare-table
    table-layout:fixed;
    th
    td
        width: 50%
    th
        padding-bottom: 20px


.logo-img
    position: absolute
    top: 30%;
    right: 10%;
    &.php
        top: auto;
        bottom: 7%
        right: 0
    &.sublime-full
        position: absolute
        top: 30%
        left: 0;
        width: 100%
        opacity: 0.9
    &.winner
        top: 10%
    &.winner2
        top: 15%
        right: 12%



th
    &.condition
        width: 50%;
    &.editor
    &.editor2
        position: relative
    &.editor
        width: 20%;
    &.editor2
        width: 25%;
    .table-logo
        position: relative
        top: 10px

td
    padding: 0 10px
    &.green
        background-color: #cff3af !important


.slide ul>li:lang(ru)::before
    color: #1C2F21
.slide ul.plus>li:lang(ru)::before
    content: '+'
    color: #50891d
.slide ul.minus>li:lang(ru)::before
    content: '–'
    color: #ec190c


.gray
    color: gray
